.Button {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    width: 10rem;
    height: 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: var(--color-secondary);
}


.Button:hover {
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
}