.Gallery {
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1.5rem; 
    align-content: center;
    justify-content: center;

}

.GalleryItem {
    height: 21vh;
    width: 20vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.Img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;
}

.Text {
    position: absolute;
    background: rgba(24, 24, 27, 0.651);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--color-white);
    opacity: 0;
}

.Text:hover {
    opacity: 1;
    transition: all .3s ease-in;
}

@media screen and (max-width: 1175px) {
    .Gallery {
        width: 80%;
        margin-bottom: 4rem;
    }

    .GalleryItem {
        height: 30vh;
        width: 30vw;  
    }
  }

  @media screen and (max-width: 814px) {
    .Gallery {
        width: 100%;
        margin-bottom: 4rem;
        grid-gap: 2.9rem;
    }

    .GalleryItem {
        width: 40vw;  
    }

  }

  @media screen and (max-width: 514px) {

    .GalleryItem {
        height: 25vw;  
    }

    .Gallery {
        height: 50%;
    }

  }