.MenuSection {
    grid-column: 2 / 3;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.Parallax {
    height: 30vh;
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    margin-bottom: 12rem;
}

.ParallaxImg {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ParallaxImgLeft {
    align-self: center;
    width: 100%;
    height: 120%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 60% 50%, 100% 100%, 0 100%, 0 0);
    border-top: .8rem solid #BF2C59;
    border-bottom: .8rem solid #BF2C59;
   

}

.ParallaxImgRight {
    align-self: center;
    width: 100%;
    height: 120%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%);
    border-top: .8rem solid #BF2C59;
    border-bottom: .8rem solid #BF2C59;

}

.ParallaxTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 7rem;
    font-weight: 400;
    color: var(--color-primary);
}

.ParallaxSubtitle {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-grey);
    transform: translateY(-1rem);
}

@media screen and (max-width: 1222px) {
    .MenuSection {
        width: 80%;
    }
}

@media screen and (max-width:834px) {
    .MenuSection {
        width: 90%;
    }
}



@media screen and (max-width: 732px) {
    .Parallax {
        display: none;
    }

    .MenuSection {
        margin-bottom: 1rem;
    }

 
}

@media screen and (max-width: 562px) {
    .MenuSection {
        grid-column: 1 / -1;
        width: 100%;

    }
}
