.MenuSection {
    grid-column: 2 / 3;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.Parallax {
    height: 30vh;
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    margin-bottom: 12rem;
}

.ParallaxImg {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ParallaxImgLeft {
    position: relative;
    align-self: center;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 60% 50%, 100% 100%, 0 100%, 0 0);
    border-top: .8rem solid var(--color-primary);
    border-bottom: .8rem solid var(--color-primary);
    overflow: hidden;
}


.ParallaxImgLeft:hover {
    clip-path: none;
}

.ParallaxImgRight {
    position: relative;
    align-self: center;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%);
    border-top: .8rem solid var(--color-primary);
    border-bottom: .8rem solid var(--color-primary);
    overflow: hidden;
}

.ParallaxImgRight:hover {
    clip-path: none;
    transition:  all .3s ease-in;
}

.ParallaxInerImg {
    position: absolute;
    background: rgba(24, 24, 27, 0.651);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-white);
    opacity: 0;
    z-index: 2000;
}

.ParallaxInerImg:hover {
    opacity: 1;
    transition:  all .1s ease-in;
}




.ParallaxTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 7rem;
    font-weight: 400;
    color: var(--color-primary);
}

.ParallaxSubtitle {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-grey);
    transform: translateY(-1rem);
}

@media screen and (max-width: 1222px) {
    .MenuSection {
        width: 80%;
    }
}

@media screen and (max-width:834px) {
    .MenuSection {
        width: 90%;
    }
}



@media screen and (max-width: 732px) {
    .Parallax {
        display: none;
    }

    .MenuSection {
        margin-bottom: 1rem;
    }

 
}

@media screen and (max-width: 562px) {
    .MenuSection {
        grid-column: 1 / -1;
        width: 100%;

    }
}
