.FullParallax {
    grid-column: 1 / -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text {    
    font-family: 'Great Vibes', cursive;
    font-size: 8rem;
    font-weight: 400;
    color: var(--color-white);
}

@media screen and (max-width: 557px) {
    .Text {
        font-size: 6rem;
  }

}