.Gallery {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.GalleryItem {
    width: 40%;
    height: 80%;
    position: relative;
    margin: 0 2rem;
}

.Img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
       
}

.Text {
    position: absolute;
    background: rgba(24, 24, 27, 0.651);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--color-white);
    opacity: 0;
}

.Text:hover {
    opacity: 1;
    transition: all .3s ease-in;
}

@media screen and (max-width: 1175px) {
    .Gallery{
        width: 70%;
    }

    .GalleryItem {
        width: 80%;
    }
}


@media screen and (max-width: 710px) {
    .Delete {
        display: none;
  }

}