.List {
    width: 80%;
    align-self: center;
}

.Title {
    align-self: center;
    padding: .5rem 1rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: blue;
    font-size: 2rem;
}