.Header {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
 
    z-index: 1;
    background-size: cover;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    background-attachment: fixed;
}