.Navbar {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: transparent;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-top: 1px solid var(--color-white);
    font-family: 'Montserrat', sans-serif;
    background: var(--color-primary);
}
    


.List {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.Link {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--color-white);
}