.Main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    z-index: 3;
}

.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WelcomeTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 12rem;
    font-weight: 400;
}

.Name {
    font-size: 4.7rem;
    font-weight: 400;
}