.Story {
  grid-column: 2 / 3;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StoryText {
  height: 80%;
}

.StoryTitle span:first-child {
  font-family: "Great Vibes", cursive;
  font-size: 10rem;
  font-weight: 400;
  color: var(--color-primary);
}

.StoryTitle span:nth-child(2) {
  color: var(--color-secondary);
  margin-left: 2rem;
  font-size: 4.7rem;
}

@media screen and (max-width: 473px) {
  .StoryTitle span:first-child {
    font-size: 8rem;
  }
  .StoryTitle span:nth-child(2) {
    height: 80vh;
    font-size: 3rem;
  }
}

.StoryText p {
  width: 35vw;
  font-size: 1.4rem;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;
  text-indent: 1rem;
  text-align: justify;
  color: var(--color-grey);
}

.StoryGallery {
  height: 80%;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StoryGalleryImg {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .Story {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .StoryGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
  }

  .StoryGalleryImg {
    height: 22vw;
    width: 30vw;
    object-fit: cover;
    margin: 2rem 0;
  }

  .StoryGalleryImg:first-child {
    transform: translateY(0);
  }

  .StoryGalleryImg:nth-child(2) {
    transform: translateY(0);
  }

  .StoryText p {
    width: 45vw;
  }
}

@media screen and (max-width: 766px) {
  .Story {
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
  }

  .StoryText p {
    width: 65vw;
  }

  .StoryGallery {
    flex-direction: row;
    margin-left: 0rem;
    height: 23vw;
  }

  .StoryText {
    height: 50%;
  }
}

@media screen and (max-width: 520px) {
  .Story {
    height: 70vh;
    justify-content: center;
    flex-direction: row;
    margin: 0;
  }

  .StoryGallery {
    display: none;
  }

  .StoryText {
    height: 80%;
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 385px) {
  .Story {
    height: 80vh;
  }
}
