.TextLeft {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 5rem 0;
}



.TextContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 8rem;
}

@media screen and (max-width: 1175px) {
    .TextLeft {
        grid-column: 1 / -1;
        padding: 0;
        flex-direction: column;
    }

    .TextContainer  {
        width: 70%;
        padding-right: 0;
    }
  }

.TextTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 12rem;
    font-weight: 400;
    color: var(--color-primary);
}

.TextSubtitle {
    font-size: 4.7rem;
    font-weight: 400;
    transform: translateY(-75%);
    color: var(--color-secondary)
}

.Text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 2rem;
    color: var(--color-grey);
    font-family: 'Open Sans', sans-serif;
}

