.Intro {
    grid-column: 1 / -1;
    height: 90vh;  
    display: flex;
    align-items: center;
    justify-content: center;
}


.IntroImg {
    width: 50vw;
    height: 90vh;
    object-fit: cover;
}

.IntroTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.IntroTitle span:first-child{
    font-size: 10rem;
    font-family: 'Great Vibes', cursive;
    color: var(--color-primary);
    margin-right: 2.5rem;
}

.IntroTitle span:nth-child(2){
    font-size: 4.7rem;
    font-weight: 400; 
    color: var(--color-secondary);
}

.IntroTextContainer p {
    font-size: 1.4rem;
    line-height: 1.3;
    color: var(--color-grey);
    width: 70%;
    text-align: justify;
}

.Event {
    grid-column: 2 / 3;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EventContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    width: 35%;
    height: 60%;
}

.EventItem {
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.EventContainer  .EventItem:first-child {
    background: var(--color-grey);  
}

.EventContainer  .EventItem:nth-child(2) {
    background: var(--color-secondary);
}

.EventContainer  .EventItem:nth-child(2) .EventDay {
    color: var(--color-white);
}

.EventContainer  .EventItem:nth-child(2) .EventHour {
    color: var(--color-grey);
}

.EventTitle {
    font-size: 2.5rem;
    color: var(--color-primary);
}


.EventDay {
    color: var(--color-secondary);
    margin: .5rem 0;
}



