:root {

  /* FONT */
  --defaultFont: 'Montserrat', sans-serif;

  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #FFCA47;


  /* SHADOW */

  --shadow: 0 1rem .5rem rgba(#080808, .9);


  /* GRID */

  --gutter--xs: 1rem;
  --gutter--sm: 2rem;
  --gutter--md: 4rem;
  --gutter--lg: 6rem;
  --gutter--xlg: 8rem;
  
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  box-sizing: border-box;
  font-family: var(--defaultFont);
  overflow-x: hidden;
}