.Menu {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 90vw 1fr;
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    justify-items: center;
    margin-bottom: 8rem;
}
.Navbar {
    grid-column: 1 / -1;
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9rem;
 
}

.List {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.List li {
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--color-primary);
    background-size: cover;

}

.Link {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--color-primary);
    font-family: 'Great Vibes', cursive;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
